// Full width priority links
.field-name-field-featured-item {
	.field-item {
    vertical-align: top;
		.field-item {
			width: 100%;
			display: block;
		}
		.field-name-field-headline {
			@include headline;
		}
	}
	@media only screen and (min-width: 450px) and (max-width: 768px) {
		.field-item {
			width: 50%;
    	display: inline-block;
		}
	}
	@media only screen and (min-width: 769px) {
		.field-item {
			width: 25%;
    	display: inline-block;
    }	
	}
}

// Column region.
.blog-footer-wrapper,
.region-sidebar-first,
.region-sidebar-second {
	.field-name-field-featured-item {
		.field-item .field-collection-view {
			@include zen-clear();
      @include zen-grid-item(12,1);
		}
	}
}

// Tool links
section[id^='block-bean-tools'],
div[id^='block-bean-tools'],
.bean-tool-links {
	.field-collection-container {
		margin-top: 20px;
	}
	.block-inner {
		margin: 0;
	}
	h3,
	h2.block-title {
		text-align: center;
	}
}

.field-name-field-tool {
	margin: 0;
}

.field-name-field-tool .field-items {
	@include zen-grid-container;

  .field-item:nth-of-type(1) {
    @include zen-grid-item(4,1);
  }
  .field-item:nth-of-type(2) {
    @include zen-grid-item(4,5);
  }
  .field-item:nth-of-type(3) {
    @include zen-grid-item(4,9);
  }
  @media only screen and (max-width: 450px) {
  	.field-item:nth-of-type(1),
  	.field-item:nth-of-type(2),
  	.field-item:nth-of-type(3) {
			@include zen-clear();
      @include zen-grid-item(12,1);
  	}
  }

	.field-item .field-collection-view,
  .field-items .field-item {
  	float: none;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  }

	.field-name-field-tool-link a {
		color: #fff;
		background: $pop;
		display: block;
		padding: 15px;
    text-align: center;
    font-size: 18px;
    &:hover {
    	background: #66c2ff;
    	text-decoration: none;
    }
	}
}