.c-tile {

  &.tile {
    background-color: $color-2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-basis: 22%;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color-5, 0.3);
      z-index: 1;
    }

    &.-tall {
      height: 200px;
    }

    .text {
      width: 80%;
      text-align: center;
      z-index: 5;
    }

    @media screen and (min-width: $screen-m) {
      margin-bottom: 50px;
    }
  }

  .tile {
    background-color: $color-2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color-5, 0.3);
      z-index: 1;
    }

    &.-tall {
      height: 200px;
    }

    .text {
      width: 80%;
      text-align: center;
      z-index: 5;
    }

    @media screen and (min-width: $screen-m) {
      margin-bottom: 50px;
    }
  }

  .tile-detailed {
    background-color: $color-3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    height: 300px;
    margin-bottom: 50px;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color-5, 0.3);
      z-index: 1;
    }

    .tile-content {
      z-index: 5;
    }

    h3 {
      margin: 15px 0;
    }

    .meta {
      position: absolute;
      bottom: 30px;

      span {
        display: block;
      }
    }
  }

  &.-themes {

    .tile {
      height: auto;
      padding: 30px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .country-name {
        display: block;

        &.-visible {
          display: block;
        }

        &.-hidden {
          display: none;
        }
      }

      .text {
        font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
        text-transform: none;
        text-align: left;
      }
    }
  }

  &.-country {

    .tile {
      height: auto;
      padding: 20px 10px;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }

    .text {
      font-size: 12px;
      line-height: 1.25;
      font-weight: 500;
      text-transform: none;
    }
  }
}
