.l-home-page {
  min-height: 470px;
  margin-top: -90px;

  @media screen and (min-width: $screen-s) {
    min-height: 750px;
  }

  .slider-cover-home {
    position: relative;
    min-height: 470px;
    background-color: $color-2;

    @media screen and (min-width: $screen-s) {
      min-height: 750px;
    }
  }
}
