.l-page {
  padding: 40px 0 80px;

  &.-tall {
    padding: 60px 0;
  }

  &.-short {
    padding-top: 0;
  }

  // generic styles
  .content-header {
    margin-bottom: 50px;

    p {
      font-size: 15px;
      color: $color-5;
    }
  }

  .text {

    &.-section-title {
      margin-bottom: 40px;
    }
  }

  .media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tiles-container {
    position: relative;
    min-height: 400px;
  }

  // content specific styles

  .tiles-container-event {
    position: relative;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 80px;

    .events-tiles {
      display: flex;
      flex-direction: row;

      .event-tile-container {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 70px 0 30px;
        border-left: 2px solid $color-9;

        .language-text {
          display: block;
          margin-top: 15px;
        }
      }
    }
  }

  .story-detail {
    text-align: right;
  }

  .tab-container {

    &.-hidden {
      display: none;
    }
  }

  .content-container {
    position: relative;
    min-height: 300px;
  }
}
