.l-people-involved {

  &.-no-bottom {
      padding-bottom: 0 !important;
  }

  .people-header {
    display: flex;
    align-items: center;

    .image-profile {
      width: 150px;
      height: 200px;
      margin-right: 50px;
      background-color: $color-2;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .line {
      display: inline-block;
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  .container-contact {
    margin-top: 80px;

    p {
      margin-top: 5px;
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  .span.mailto {
    display: none !important;
  }

  .container-content-user,
  .container-content-user-news {
    position: relative;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $color-2;

    .title-blogs,
    .title-news {
      margin-bottom: 40px;
    }

    .blogs-detail,
    .news-detail {
      margin-bottom: 50px;

      .contain-text {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($color-4, .5);

        span {
          display: block;

          &.date-text {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .container-content-user-news {
    margin-top: 0;
    border-top: 1px solid rgba($color-4, .5);
  }
}
