.l-working-group {
  .tag {
    display: block;
    position: relative;
    margin-bottom: 20px;
    content: '';

    &::before {
      display: block;
      position: absolute;
      top: -10px;
      width: 10px;
      height: 2px;
      background-color: $color-4;
      content: '';
    }
  }

  .working-group-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .tab-content {
    &.-hidden {
      display: none;
    }
  }
}
