.c-commitment-count {
  max-width: 400px;
  height: 160px;

  .text {
    display: inline-block;

    span {
      display: block;
      margin-top: 6px;
      margin-left: 10px;
    }

    &.large-number {

    }
  }
}
