.c-country-thematic-bar {

  .bar-border {
    height: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid $color-9;
    background-color: transparent;
  }

  .bar-error {
    display: block;
    color: $color-5;

    &.-hiden {
      display: none;
    }
  }

  .thematic-bar {
    margin-bottom: 0;

    .bar {
      height: 10px;

      &.-hiden {
        background-color: $color-4;
      }

      &.-green {
        background-color: $color-1;
      }

      &.-blue {
        background-color: $color-2;
      }

      span {
        color: $color-4;
      }
    }
  }
}
