.c-explore-more {
  margin-top: 60px;
  min-height: 200px;
  position: relative;

  h3 {
    margin-bottom: 30px;
  }

  .explore-more-container {
    display: flex;
    justify-content: space-between;

    .c-tile {
      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}
