.c-map-legend {
  position: absolute;
  top: 50px;
  width: 340px;
  background-color: $color-4;
  z-index: 2;
  padding: 40px;

  &.-with-footer{
    padding-bottom: 100px;
  }

  .inactive-link {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      position: relative;
      color: $color-5;

      &::after {
        display: block;
        position: absolute;
        bottom: 4px;
        left: 26px;
        width: 49px;
        height: 1px;
        background-color: $color-2;
        content: '';
      }
    }

    svg {
      margin-left: 5px;
      color: $color-5;
    }
  }

  .multi-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    .c-button {
      width: 50%;

      &:first-child {
        border-right: solid 1px rgba(#ffffff, 0.2);
      }
    }
  }
}
