.c-ogp-process {
  padding-bottom: 50px;

  .container-button-text {
    display: flex;
    justify-content: space-between;

    p {
      color: $color-4;
    }
  }

  .diagram {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

    .container {
      margin-left: 180px;
      position: relative;
      width: 620px;
      height: 410px;
      background-image: url('../images/other/piechart.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .circle-text {
      position: absolute;
      top: 180px;
      left: 370px;
      text-align: center;
    }

    ol {
      list-style: none;

      li {
        position: absolute;
        color: $color-4;
        font-size: $font-size-small;

        a {
          position: relative;
          color: $color-4 !important;

          &::after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgba($color-4, .3);
            content: '';
          }
        }

        &.first {
          top: 196px;
          left: -125px;
          font-weight: $font-weight-bold;
        }

        &.second {
          top: 135px;
          left: 65px;
          font-weight: $font-weight-bold;
        }

        &.third {
          top: -30px;
          left: 350px;
          font-weight: $font-weight-bold;
        }

        &.fourth {
          top: 70px;
          right: -190px;
          font-weight: $font-weight-bold;
        }

        &.fifth {
          top: 245px;
          right: -205px;
          font-weight: $font-weight-normal;
        }

        &.sixth {
          right: -105px;
          bottom: 45px;
          font-weight: $font-weight-normal;
        }

        &.seventh {
          right: 140px;
          bottom: -30px;
          font-weight: $font-weight-bold;
        }

        &.eighth {
          right: 310px;
          bottom: 0;
          font-weight: $font-weight-normal;
        }

        &.nineth {
          right: 375px;
          bottom: 70px;
          font-weight: $font-weight-normal;
        }

        &.tenth {
          right: 410px;
          bottom: 140px;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
}
