.c-social-block {
  padding: 80px 0;

  &.-tweet {

    .contain-title-icon {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .icon {
        fill: $color-2;
        width: 20px;
        height: 20px;
      }
    }

    .tweet-text {
      display: block;
      margin-top: 25px;
      color: $color-5;
      font-family: $font-family-1;
      font-size: $font-size-medium;
      font-weight: $font-weight-semi-bold;
      line-height: 1.33;

      a {
        color: $color-2;
      }
    }

    .views-field-field-twitter-account {
      display: inline-block;
      float: right;

      .field-content {

        &::before {
          display: inline-block;
          content: '@';
        }
      }

      .icon-twitter {
        width: 15px;
        margin-left: 15px;
        color: $color-2;
      }
    }
  }

  &.-facebook {
    display: inline-block;
    flex: 1;
    width: 50%;
    padding-left: 50px;

    .contain-title-icon {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .icon {
        fill: $color-2;
        width: 20px;
        height: 20px;
      }
    }

    .facebook-feed {
      margin-top: 25px;

      .item {
        display: none;

        &:first-of-type {
          display: block; //is not the best solution
        }
      }
    }

    .block-title {
      position: relative;
      color: $color-5;
      font-family: $font-family-2;
      font-size: $font-size-small-medium;
      font-weight: $font-weight-semi-bold;
    }

    .block-content {
      margin-top: 25px;
    }

    .facebook-feed-message {
      color: $color-5;
      font-family: $font-family-1;
      font-size: $font-size-medium;
      font-weight: $font-weight-semi-bold;
      line-height: 1.33;
    }

    .icon-facebook {
      position: absolute;
      top: calc(50% - 10px);
      right: 0;
      width: 15px;
      fill: $color-2;
    }

    .facebook-feed-picture,
    .facebook-feed-from,
    .facebook-feed-time {
      display: none;
    }
  }

  .mailto {
    display: none;
  }
}
