//Cover slider Home Page
.c-slider-home-page {
  min-height: 750px;
  background-color: $color-2;
  position: relative;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.-image {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-2, .4);
      z-index: -1;
    }
  }

  .container {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .title-text {
      margin-bottom: 40px;
      font-size: $font-size-big;
      font-weight: $font-weight-semi-bold;
      line-height: 1.3;

      a {
        color: $color-4;
      }
    }
  }

  .c-button {
    padding: 15px 40px;
  }
}

.dots-slider {
  position: absolute;
  right: 80px;
  bottom: 40px;

  li {
    display: inline-block;
    margin-right: 30px;
    line-height: 0;

    &:last-of-type {
      margin-right: 0;
    }

    button {
      width: 7px;
      height: 7px;
      padding: 0;
      border: 0;
      border-radius: 8px;
      outline: 0;
      background-color: rgba($color-4, .4);
      font-size: 0;
      cursor: pointer;
    }

    &.slick-active {
      button {
        width: 13px;
        height: 13px;
        background-color: $color-4;
      }
    }
  }
}
